:root {
  --main-text-color: #000000;          
  /* --main-shadow-color: #8ebf42;         */
  --main-shadow-color: #b20e10;        
  --main-error-color: rgb(255, 0, 0);       
}                                           
                                            
html, body {                                
  min-height: 100%;                         
  font-size: 10px;                          
}                                           
                                            
body, div, form, input, select, textarea, p { 
  padding: 0;                               
  margin: 0;                                
  outline: none;                            
  font-family: Roboto, Arial, sans-serif;   
  font-size: 14px;                          
  color: #666;                              
  line-height: 22px;                        
}                                                          
                                            
body {                                      
  display: flex;                            
  flex-direction: column;                   
  justify-content: flex-start;              
  align-items: flex-start;                  
  max-width: 100vw;                         
}                                           
                                            
section {                                   
  display: flex;                            
  justify-content: center;                  
  align-items: center;                      
  height: inherit;                          
  padding: 1rem 2rem 1rem 2rem;                            
  width: calc(100% - 40px);                 
}                                           
                                            
.formTitle {                                
  padding-top: 5rem;                              
  width: calc(100% - 40px);                 
}                                           
                                            
.formTitle__text {                          
  margin: 0;                                
  font-size: 2rem;                          
  color: var(--main-text-color);                        
}                                           
                                            
.formPanel {                                     
  position: relative;                            
  margin: 10px 0;                                
}                                                
                                                 
form {                                           
  width: 100%;                                   
  padding: 20px;                                 
  border-radius: 6px;                            
  background: #fff;                              
  box-shadow: 0 0 30px 0 #ccc;              
}                                                
                                                 
input, select, textarea {                        
  margin-bottom: 10px;                           
  border: 1px solid #ccc;                        
  border-radius: 3px;                            
}                                                
                                                 
input {                                          
  width: calc(100% - 10px);                      
  padding: 5px;                                  
}                                                
                                                 
select {                                         
  width: 100%;                                   
  padding: 7px 0;                                
  background: transparent;                       
}                                                
                                                 
textarea {                                       
  width: calc(100% - 12px);                      
  padding: 5px;                                  
}                                                
                                                 
.formPanel:hover p, .formPanel:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
  color: var(--main-shadow-color);                                
}                                                
                                                 
.formPanel input:hover, .formPanel select:hover, .formPanel textarea:hover {
  border: 1px solid transparent;                 
  box-shadow: 0 0 8px 0 var(--main-shadow-color);                 
  color: var(--main-shadow-color);                                
}                                                
                                                 
input[type="date"]::-webkit-inner-spin-button {  
  display: none;                                 
}                                                
                                                 
.formPanel i, input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;                            
  font-size: 20px;                               
  color: #a9a9a9;                                
}                                                
                                                 
.formPanel i {                                    
  right: 2%;                                      
  top: 30px;                                      
  z-index: 1;                                     
}                                                 
                                                  
.formPanel p span {                               
  color: var(--main-error-color);                                    
}                                                 
                                                  
[type="date"]::-webkit-calendar-picker-indicator {
  right: 1%;                                      
  z-index: 2;                                     
  opacity: 0;                                     
  cursor: pointer;                                
}                                                 
                                                  
input[type=radio] {                               
  width: 0;                                       
  visibility: hidden;                             
}                                                 
                                                  
label.radio {                                     
  position: relative;                             
  display: inline-block;                          
  margin: 5px 20px 25px 0;                        
  cursor: pointer;                                
}                                                 
                                                  
.question span {                                  
  margin-left: 30px;                              
}                                                 
                                                  
label.radio:before {                              
  content: "";                                    
  position: absolute;                             
  left: 0;                                        
  width: 17px;                                    
  height: 17px;                                   
  border-radius: 50%;                             
  border: 2px solid var(--main-shadow-color);                     
}                                                 
                                                  
label.radio:after {                               
  content: "";                                    
  position: absolute;                             
  width: 8px;                                     
  height: 4px;                                    
  top: 6px;                                       
  left: 5px;                                      
  background: transparent;                        
  border: 3px solid var(--main-shadow-color);                     
  border-top: none;                               
  border-right: none;                             
  transform: rotate(-45deg);                      
  opacity: 0;                                     
}                                                 
                                                  
input[type=radio]:checked + label:after {         
  opacity: 1;                                     
}                                                 
                                                  
.buttonPanel {                                    
  margin-top: 10px;                               
  text-align: center;                             
}                                                 
                                                  
button {                                          
  width: 150px;                                   
  padding: 10px;                                  
  border: none;                                   
  border-radius: 5px;                             
  background: var(--main-shadow-color);                           
  font-size: 16px;                                
  color: #fff;                                    
  cursor: pointer;                                
}                                                 
                                                  
button:hover {                                    
  background: #82b534;                            
}                                                 
                                                  
@media (min-width: 568px) {                       
  .formPanel__name, .formPanel__city {            
    display: flex;                                
    flex-wrap: wrap;                              
    justify-content: space-between;               
  }                                               
                                                  
  .formPanel__name input, .formPanel__city input {
    width: calc(50% - 20px);                      
  }                                                             
}                                                 
                                                  
.checkbox-container {                             
  box-sizing: border-box;                         
  text-align: center;                             
  display: flex;                                  
  justify-content: flex-start;                    
  align-items: center;                            
}                                                 
                                                  
.input-title {                                    
  font-size: 14px;                                
  padding-top: 3px;                               
  padding-bottom: 3px;                            
}                                                 
                                                  
.checkbox-label {                                 
  display: block;                                 
  position: relative;                             
  cursor: pointer;                                
  font-size: 16px;                                
  line-height: 16px;                              
  height: 18px;                                   
  margin-left: 0px;                               
  margin-right: 2.5rem;                           
}                                                 
                                                  
.rectangular {                                    
  bottom: 0px;                                    
  width: 14px;                                    
  height: 14px;                                   
  border-top-width: 1px;                          
  border-bottom-width: 1px;                       
}                                                 
                                                  
.checkbox-label input {                           
  position: absolute;                             
  opacity: 0;                                     
  cursor: pointer;                                
  margin-bottom: 0px;                             
}                                                 
                                                  
.checkbox-label .checkbox-custom {                
  position: absolute;                             
  top: 0px;                                       
  left: 0px;                                      
  height: 14px;                                   
  width: 14px;                                    
  background-color: transparent;                  
  border-radius: 5px;                             
  transition: all 0.3s ease-out;                  
  -webkit-transition: all 0.3s ease-out;          
  -moz-transition: all 0.3s ease-out;             
  -ms-transition: all 0.3s ease-out;              
  -o-transition: all 0.3s ease-out;               
  border: 2px solid var(--main-shadow-color);                     
}                                                  
                                                   
.checkbox-label input:checked ~ .checkbox-custom { 
  background-color: #FFFFFF;                       
  border-radius: 5px;                              
  -webkit-transform: rotate(0deg) scale(1);        
  -ms-transform: rotate(0deg) scale(1);            
  transform: rotate(0deg) scale(1);                
  opacity:1;                                       
  border: 2px solid var(--main-shadow-color);                     
}                                                  
                                                   
.checkbox-label .checkbox-custom::after {          
  position: absolute;                              
  content: "";                                     
  left: 4px;                                       
  top: 1px;                                        
  width: 4px;                                      
  height: 8px;                                     
  border-radius: 5px;                              
  border: solid var(--main-shadow-color);                           
  border-width: 0 3px 3px 0;                       
  -webkit-transform: rotate(0deg) scale(0);        
  -ms-transform: rotate(0deg) scale(0);            
  transform: rotate(0deg) scale(0);                
  opacity:1;                                       
  transition: all 0.3s ease-out;                   
  -webkit-transition: all 0.3s ease-out;           
  -moz-transition: all 0.3s ease-out;              
  -ms-transition: all 0.3s ease-out;               
  -o-transition: all 0.3s ease-out;                
}                                                  
                                                   
.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);       
  -ms-transform: rotate(45deg) scale(1);           
  transform: rotate(45deg) scale(1);               
  opacity:1;                                       
  left: 4px;                                       
  top: 1px;                                        
  width: 4px;                                      
  height: 8px;                                     
  border: solid var(--main-shadow-color);                           
  border-width: 0 2px 2px 0;                       
  background-color: transparent;                   
  border-radius: 0;                                
}                                                  
                                                   
                                                   